.u-section-1 .u-sheet-1 {
  min-height: 726px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 68px auto 1px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 657px;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 29px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  margin: 169px 1px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 657px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 28px;
}

.u-section-1 .u-image-1 {
  height: 482px;
  margin-top: 73px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 542px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 542px;
  }

  .u-section-1 .u-image-1 {
    height: 398px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 65px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 150px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 692px;
  }

  .u-section-1 .u-image-1 {
    height: 508px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 68px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 70px;
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 519px;
  }

  .u-section-1 .u-image-1 {
    height: 381px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 60px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 327px;
  }

  .u-section-1 .u-image-1 {
    height: 240px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 742px;
}

.u-section-2 .u-text-1 {
  margin: 60px 0 0;
}.u-section-3 .u-sheet-1 {
  min-height: 523px;
}

.u-section-3 .u-text-1 {
  margin: 1px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}.u-section-4 .u-sheet-1 {
  min-height: 383px;
}

.u-section-4 .u-text-1 {
  margin: 0 0 60px;
}